.edit {
  position: relative;
}

.edit img {
  display: block;
}

.edit i {
  font-size: 100px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edits {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  gap: 10px;
  justify-content: center;
}

@media (min-width: 576px) {
  .edits {
    grid-template-columns: repeat(auto-fit, 520px);
  }
}

@media (min-width: 600px) {
  .edits {
    grid-template-columns: repeat(auto-fit, 240px);
  }
}

@media (min-width: 769px) {
  .edits {
    grid-template-columns: repeat(auto-fit, 215px);
  }
}

@media (min-width: 990px) {
  .edits {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media (min-width: 1200px) {
  .edits {
    grid-template-columns: repeat(auto-fit, 275px);
  }
}

.edit-popup-bg {
  position: fixed;
  background: rgba(0,0,0,0.8);
  display: none;
}

.edit-popup {
  position: absolute;
  top: 50%;
  left: 50%; 
  width: 600px;
  background: ■#ffffff;
  padding: 20px;
  transform: translate(-50%, -50%);
  padding-top: 60px;
}

.close-edit1-popup {
  position: absolute;
  top: 30px;
  right: 30px;
}