.edits {
  text-align: center;
}

.edit {
  position: relative;
}

.edit img {
  display: block;
}

.edit i {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}