.block-featured-product {
  position: relative;
  display: inline-block;
  text-align: center;
}

.wc-block-featured-product__background-image {
  display: block;
}

.description {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}