.block-featured-product {
  position: relative;
  text-align: center;
}

.wc-block-featured-product__background-image {
  display: block;
}

.product-description {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
  white-space: nowrap;
}

.packs {
  width: 100%; 
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}

.packs__block-featured-product {
  display: grid;
  grid-template-columns: repeat(auto-fit, 316px);
  gap: 10px;
  justify-content: center;
}