{% load static %}
<div class="edits">
  <div class="edit">
    <img src="{% static 'main/img/edits/edit1.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit2.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit3.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit4.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit5.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit6.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit7.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit8.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit9.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit10.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit11.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
  <div class="edit">
    <img src="{% static 'main/img/edits/edit12.jpeg' %}">
    <i class="bi bi-play-circle"></i>
  </div>
</div>