{% load static %}
<div class="edits">
  <img src="{% static 'main/img/edits/edit1.jpeg' %}">
  <img src="{% static 'main/img/edits/edit2.jpeg' %}">
  <img src="{% static 'main/img/edits/edit3.jpeg' %}">
  <img src="{% static 'main/img/edits/edit4.jpeg' %}">
  <img src="{% static 'main/img/edits/edit5.jpeg' %}">
  <img src="{% static 'main/img/edits/edit6.jpeg' %}">
  <img src="{% static 'main/img/edits/edit7.jpeg' %}">
  <img src="{% static 'main/img/edits/edit8.jpeg' %}">
  <img src="{% static 'main/img/edits/edit9.jpeg' %}">
  <img src="{% static 'main/img/edits/edit10.jpeg' %}">
  <img src="{% static 'main/img/edits/edit11.jpeg' %}">
  <img src="{% static 'main/img/edits/edit12.jpeg' %}">
</div>