{% load static %}
<div class="nav-wrap nav-wrap-control">
	<div class="main-nav main-nav-control">
		<div class="site__container fullwidth-vidorev-ctrl container-control">
			<div class="site__row auto-width">
				
				<div class="site__col float-left nav-logo">
					<div class="nav-logo-img">
						<a href="/" title="WRF Edits ™ 🎬" class="logo-link logo">
							<img src="{% static 'main/img/logo_text.png' %}" class="main-logo">
							<img src="{% static 'main/img/logo_text.png' %}" class="main-logo-mobile logo">
								</a>
					</div>
				</div>
				
				<div class="site__col float-left nav-menu nav-menu-control navigation-font">
					<ul>
						<li id="menu-item-7864" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6428 current_page_item menu-item-7864"><a href="/">OUR COMMUNITY SHOP</a></li>
<li id="menu-item-7865" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7865"><a href="/pack/">PACKS ZONE</a></li>
<li id="menu-item-8027" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8027"><a href="/music/">MUSIC ZONE</a></li>
<li id="menu-item-8242" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8242"><a href="/about/">ABOUT US</a></li>
					</ul>
				</div>
				
				<div class="site__col float-left nav-mobile-menu">
							<div class="button-wrap">
			<div class="button-menu-mobile button-menu-mobile-control">
				<span></span>			
				<span></span>			
				<span></span>			
				<span></span>			
				<span></span>			
			</div>
		</div>
					</div>
                
				<div class="site__col float-right top-search-box-mobile">
							<ul>
			<li class="top-search-elm top-search-elm-control">
				<a href="#" title="Search" class="top-search-dropdown top-search-dropdown-control">
					<span class="icon">
						<i class="bi bi-search"></i>
					</span>						
				</a>
				<ul class="dark-background">
					<li class="top-search-box-dropdown">
						<form action="" method="get">					
							<input class="search-terms-textfield search-terms-textfield-control" autocomplete="off" type="text" placeholder="Type and hit enter ..." name="s" value="">
							<input type="submit" value="Search">							
						</form>
					</li>
				</ul>
			</li>
		</ul>
            				</div>
				
				<div class="site__col float-right top-search-box">
							<div class="top-search-box-wrapper">
			<form action="" method="get">					
				<input class="search-terms-textfield search-terms-textfield-control" autocomplete="off" type="text" placeholder="Search..." name="s" value="">									
			</form>
		</div>
					</div>
			
			</div>
		</div>
	</div>
</div>  

<div id="primary-content-wrap" class="primary-content-wrap">
	<div class="primary-content-control">
		<div class="site__container fullwidth-vidorev-ctrl container-control">
		
			<div class="site__row nav-breadcrumbs-elm"><div class="site__col"><div class="nav-breadcrumbs navigation-font nav-font-size-12"><div class="nav-breadcrumbs-wrap"><a class="neutral" href="/">Home /</a><a class="neutral" href=""> About us</a></div></div></div></div>			
			<div class="site__row sidebar-direction">							
				<main id="main-content" class="site__col main-content">	
					
					<div class="single-page-wrapper global-single-wrapper">
							
						<article id="post-6428" class="single-page-content global-single-content post-6428 page type-page status-publish has-post-thumbnail hentry pmpro-has-access">

	<header class="entry-header">
		<h1 class="entry-title extra-bold">ABOUT US</h1>	</header>

<h6 class="entry-title extra-bold">Без чего не может обойтись каждый монтажер. Правильно!  без клипов, паков, пресетов, уроков. И все это уже есть на моем сайте. Ты уже на сайте поэтому наслаждайся всеми нуждами для любого монтажера❤️</h6>

                            <div class="scroll-to-top-button scroll-to-top-button-control">
                    <a class="basic-button basic-button-default" href="#">Top<i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a>
                </div>
                        
            		<div id="vp-mobile-menu" class="dark-background vp-mobile-menu-control">
			<div class="vp-mobile-menu-body">
			
				<div class="button-menu-mobile button-menu-mobile-control">
					<span></span>			
					<span></span>			
					<span></span>			
					<span></span>			
					<span></span>			
				</div>
				<div class="vp-mobile-menu-items vp-mobile-menu-items-control navigation-font">
					<ul>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-6428 current_page_item menu-item-7864"><a href="/" aria-current="page">OUR COMMUNITY SHOP</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7865"><a href="/pack/">PACKS ZONE</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8027"><a href="/music/">MUSIC ZONE</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8242"><a href="/about/">ABOUT US</a></li>
					</ul>
						
					<ul class="membership-submit-video-mobile-menu">			<a href="" class="basic-button basic-button-default user-submit-video " target="_blank">Submit video</a>
	</ul>
				</div>
			</div>
		</div>