{% load static %}
<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" type="x-icon" href="{% static 'main/img/logo.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>BonEdit 💀🎬</title>
	<script src="{% static 'main/js/main.js' %}"></script>
	<script src="{% static 'main/js/buy.js' %}" defer></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/featured-product.css' %}">
</head>

<body
	class="home-page bp-nouveau home page-template-default page page-id-6428 page-parent wp-custom-logo theme-vidorev pmpro-body-has-access woocommerce-js  dark-background dark-version sticky-menu-on sticky-behavior-up sticky-sidebar-on main-layout-boxed header-vid-default beeteam368 elementor-default elementor-kit-36">
	{% include "main/navbar.html" %}
	<div id="primary-content-wrap" class="primary-content-wrap">
		<div class="primary-content-control">
			<div class="site__container fullwidth-vidorev-ctrl container-control">

				<div class="site__row nav-breadcrumbs-elm">
					<div class="site__col">
						<div class="nav-breadcrumbs navigation-font nav-font-size-12">
							<div class="nav-breadcrumbs-wrap"><a class="neutral" href="/">Home /</a><a class="neutral" href=""> Packs
									zone</a></div>
						</div>
					</div>
				</div>
				<div class="site__row sidebar-direction">
					<main id="main-content" class="site__col main-content">

						<div class="single-page-wrapper global-single-wrapper">

							<article id="post-6428"
								class="single-page-content global-single-content post-6428 page type-page status-publish has-post-thumbnail hentry pmpro-has-access">

								<header class="entry-header">
									<h1 class="entry-title extra-bold">PACKS ZONE</h1>
								</header>
								<div class="packs packs__block-featured-product">
									<div class="block-featured-product">
									<img class="wc-block-featured-product__background-image" src="{% static 'main/img/packs/edit_your_music.jpeg' %}">
									<div class="description">
										<h2 class="wc-block-featured-product__title">EDIT WITH<br>YOUR MUSIC</h2>
										
										<div class="score">Our Score: 5</div>
										<div class="price">10 $</div>
										
										<div class="button"><a class="wp-block-button__link wp-element-button" href="https://t.me/German0204">Buy</a></div>
									</div>
									</div>

									<div class="block-featured-product">
									<img class="wc-block-featured-product__background-image" src="{% static 'main/img/packs/bmw_pack.jpeg' %}">
									<div class="description">
										<h2 class="wc-block-featured-product__title">BMW M4 F82<br>CLIP PACK</h2>
									
										<div class="score">Our Score: 3</div>
										<div class="price">0 $</div>
									
										<div class="button"><a class="wp-block-button__link wp-element-button" href="https://drive.google.com/file/d/1MHv41qtbMsJ60oGXviWfSpSruLx5mwZT/view?usp=sharing">Free Download</a></div>
									</div>
									</div>

									<div class="block-featured-product">
									<img class="wc-block-featured-product__background-image" src="{% static 'main/img/packs/explosion_pack.jpeg' %}">
									<div class="description">
										<h2 class="wc-block-featured-product__title">12 EXPLOSIONS<br>PACK</h2>
									
										<div class="score">Our Score: 4</div>
										<div class="price">1 $</div>
									
										<div class="button"><a class="wp-block-button__link wp-element-button" id="explosion_pack_buy">Buy</a></div>
									</div>
									</div>
								</div>

</body>

</html>